@page "/"
@inject IStringLocalizer<Localization> Loc

<PageTitle>@Loc[nameof(Localization.RevoProfit)]</PageTitle>
<h3 class="mt-5 mb-3">@Loc[nameof(Localization.RevoProfitSubtitle)]</h3>
<StockFileInput />
<StockResultTable />
<h1 class="mt-5">@Loc[nameof(Localization.WaltProfit)]</h1>
<h3 class="mt-5 mb-3">@Loc[nameof(Localization.WaltProfitSubtitle)]</h3>
<CryptoFileInput />
<CryptoResultTable />
<DonateButton />
<QuestionsAndAnswers />
<p class="text-center m-5">@Loc[nameof(Localization.Disclaimer)]</p>
