@using System.Globalization
@model ResultViewModel
@{
    ViewData["Title"] = "Results";
    var us = new CultureInfo("en-US");
    var fr = new CultureInfo("fr-FR");
    const double dummy = 999.99d;
}

<h3 class="mt-5">📈 Results in $</h3>
<table class="table">
    <tr>
        <th scope="col">Year</th>
        <th scope="col">Gains</th>
        <th scope="col">CashTopUp</th>
        <th scope="col">Dividends</th>
        <th scope="col">CustodyFee</th>
    </tr>
    @foreach (var annualReport in Model.AnnualReports)
    {
        <tr>
            <td>@annualReport.Year</td>
            <td>@annualReport.Gains.ToString("C", us)</td>
            <td>@annualReport.CashTopUp.ToString("C", us)</td>
            <td>@annualReport.Dividends.ToString("C", us)</td>
            <td>@annualReport.CustodyFee.ToString("C", us)</td>
        </tr>
    }
</table>

<h3 class="mt-5">📈 Results in €</h3>
<table class="table">
    <tr>
        <th scope="col">Year</th>
        <th scope="col">Gains</th>
        <th scope="col">CashTopUp</th>
        <th scope="col">Dividends</th>
        <th scope="col">CustodyFee</th>
    </tr>
    @foreach (var annualReport in Model.AnnualReports)
    {
        <tr>
            <td>@annualReport.Year</td>
            <td>@annualReport.GainsInEuro.ToString("C", fr)</td>
            <td>@annualReport.CashTopUpInEuro.ToString("C", fr)</td>
            <td>@annualReport.DividendsInEuro.ToString("C", fr)</td>
            <td>@annualReport.CustodyFeeInEuro.ToString("C", fr)</td>
        </tr>
    }
</table>

<p class="mt-5">Did I save you time? You can thank me by donating below.</p>
<button type="submit" class="btn btn-primary" onclick="window.open('https://buymeacoffee.com/ulyssetassidis', '_blank')">☕ Buy me a coffee</button>